{% extends "OCPlatformBundle::layout.html.twig" %}

{% block ocplatform_body %}
    {% block javascripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
        <script type="text/javascript" src="https://js.stripe.com/v2/"></script>
        <script src="http://stripe.github.io/jquery.payment/lib/jquery.payment.js"></script>
        <script type="text/javascript">Stripe.setPublishableKey("{{ stripe_public_key }}");</script>
        <script src="{{ asset('js/stripe.js') }}"></script>
    {% endblock %}
    <div class="col-md-3"></div>
    <div class="col-md-6">
<h1>Paiement</h1>
    {% set price = app.session.get('price') %}
    <p>Total à payer : {{ price }} </p>
    <form action="" method="POST" id="payment-form">
        <span class="payment-errors"></span>
        <div class="form-group">
            <label for="email" class="control-label">{{ 'reservation.email'|trans }}</label>
            <input id="email" name ="email" class="input-lg form-control" type="email" size="30">
        </div>

        <div class="form-group">
            <label for="confirm" class="control-label">{{ 'reservation.confirm'|trans }}</label>
            <input id="confirm" name="confirm" class="input-lg form-control" type="email" size="30">
        </div>

        <div class="form-group">
            <label for="cc-number" class="control-label">{{ 'paiement.number'|trans }}</label>
            <input id="cc-number" type="tel" data-stripe="number" class="input-lg form-control cc-number" autocomplete="cc-number" placeholder="•••• •••• •••• ••••" required>
        </div>

        <div class="form-group">
            <label for="cc-exp" class="control-label">{{ 'paiement.expiration'|trans }}</label>
            <input id="cc-exp" type="tel" class="input-lg form-control cc-exp" data-stripe="exp" autocomplete="cc-exp" placeholder="•• / ••" required>
        </div>

        <div class="form-group">
            <label for="cc-cvc" class="control-label">{{ 'paiement.cvc'|trans }}</label>
            <input id="cc-cvc" type="tel" class="input-lg form-control cc-cvc" data-stripe="cvc" autocomplete="off" placeholder="•••" required>
        </div>

        <button type="submit" class="btn btn-lg btn-primary">{{ 'save'|trans }}</button>

        <h2 class="validation"></h2>
    </form>
    </div>
{% endblock %}